/* COMMON */
html,body {
    font-family: 'Open Sans',sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.clearfix::after{
    display: block;
    clear: both;
    content: '';

}

.blind{
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
    position: absolute;
    overflow: hidden;
}

.inner{
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 20px 50px;
}

.section-title{
    font-size: 60px;
    line-height: 64px;
    color: #000;
}

.section-desc{
    display: -webkit-box;
    overflow: hidden;
    max-height: 84px;
    font-size: 24px;
    line-height: 28px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
    color: #000;
    margin-top: 15px;
}

.section-sub-title{
    display: block;
    font-size: 44px;
    line-height: 48px;
    color: #000;
    margin-top: 20px;
}


/* NAV */
.myheader{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #3dbab2;
    z-index: 10;
}

.mynav {
    height: 70px;
    font-size: 22px;
    line-height: 26px;
}

.mynav.inner{
    padding: 0 20px;
}


.mynav .logo{
    float: left;
    display: flex;    
    align-items: center;
    height: 100%;
    color: #fff;
}

.logo__img{
    width: 70px;
    height: 70px;
}


.menu_wrap{
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
}

.mynav .menu{
    display: flex;
}

.menu .menu__item{
    margin-right: 20px;
    
}

.now{
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10%;
    box-sizing: border-box;

}

.menu .menu__item:last-child{
    margin-right: 0px;
}

.menu__link{
    color: #fff;
}

/* INTRODUCTION */

.introduction{
    background: url(./image/bg.png) no-repeat;
    background-color: #3dbab2;
    background-size: cover;
    background-position: center;
}

.introduction__img-wrap{
    display: inline-block;
    border: 10px solid #fff;
    border-radius: 50%;   
    overflow: hidden; 
}

.introduction__img-wrap img{
    width: 400px;    
    margin-bottom: -4px;
    border-radius: 50%;
}

.introduction__greeting{
    margin-top: 30px;
    font-size: 60px;
    color: #fff;
    line-height: 64px;
}

.introduction__desc{
    margin-top: 30px;
    font-size: 48px;
    line-height: 52px;
    color: #fff;
}

.introduction__btn{
    margin-top: 20px;
    background: transparent;
    color: #fff;
    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 19px;
    line-height: 22px;
    cursor: pointer;
}

/* ABOUT ME */

.fields{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.fields__item{
    max-width: 300px;
    text-align: center;
}

.fields__img-wrap{
    width: 200px;
    height: 200px;
    border: 4px solid #3dbab2;;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;

}

.fields__img-wrap img{
    position: absolute;
    width: 150px;
    border-radius: 50%;
    left: 25px;top: 25px;
}

.fields__title{
    display: inline-block;
    margin-top: 15px;
    font-size: 34px;
    line-height: 38px;
}

.fields__desc{
    margin-top: 15px;
    font-size: 21px;
    line-height: 25px;
    overflow: hidden;
    color: #636e72;

    /* 여러줄 말줄임 처리 */
    display: -webkit-box;
    overflow: hidden;
    max-height: 50px;
    font-size: 21px;
    line-height: 25px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
}


/* SKILLS */

.skills{
    background-color: beige;
}

.skills__block{
    width: 100%;
    height: 500px;
    margin-top: 30px;
    display: flex;
}

.skills__box{
    flex-basis: 60%;
    background-color: darkgray;
    padding: 20px 30px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.skills__block .title{
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    display: block;
}

.list__item .info{
    color: #fff;
}

.list__item .item__name{
    float: left;
}

.list__item .percentage{
    float: right;
}

.skills__list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.skills__list .item__level{
    display: flex;
    height: 5px;
    margin-top: 5px;
}

.list__item .item__level{
    background-color: #000;
}

.guage--colored{
    background-color: yellowgreen;
}

.list__item .html .guage{
    flex-basis: 99%;
    

}

.list__item .css .guage{
    flex-basis: 90%;

}

.list__item .javascript .guage{
    flex-basis: 90%;
}

.list__item .react .guage{
    flex-basis: 80%;

}

.list__item .node .guage{
    flex-basis: 77%;

}

.skills__info{
    flex-basis: 40%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.skills__tool{
    flex-basis: 70%;
    background-color: gray;
    padding: 20px 30px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
}

.info__list li{
    margin-top: 10px;
}

.skills__etc{
    flex-basis: 30%;
    padding: 20px 30px;
    color: #fff;
}


/* My Work */

.works .projects{
    display: flex;
    margin: 20px auto 0;
    width: 80%;
    justify-content: center;
}

.works .projects__item{
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 24px;
    line-height: 28px;
    flex: 1 1 0;
}


.works .examples{
    width: 100%;
    height: 400px;
    margin: 40px auto 0;
    table-layout: fixed;
    border-spacing: 4px;
    border-collapse: separate;
}

.examples td{
    border: 1px solid lightgray;
    background-color: lightgray;
}

.examples td .img-wrap{
    width: 100%;
    overflow: hidden;
    margin: 10px 0 10px;
}

.examples td img{
    display: block;
    width: 200px;
    height: 280px;
    margin: 0 auto;
}


/* Testimonial */
.testimonials{
    background-color: lightgray;
}

.testimonials-wrap {
    display: flex;
    margin-top: 30px;
}

.testimonials-wrap .img-wrap img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.testimonials__content-wrap{
    background-color: seashell;
    padding: 20px 30px;
    margin-left: 10px;
    border: 1px solid seashell;
    border-radius: 10px;
}


.testimonials__content{
    display: -webkit-box;
    overflow: hidden;
    max-height: 72px;
    font-size: 21px;
    line-height: 25px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
}

.testimonials__who{
    display: inline-block;
    margin-top: 20px;
    font-size: 24px;
    line-height: 28px;
}

.testimonials__who span{
    color: coral;
}

/* contact */

.contact{
    background-color: lightpink;
}