/* GLOBAL */
:root {
    
    /* FONT COOLORS */
    --color-white: #fff;
    --color-black: #000;

    /* FONT SIZE */
    --font-large: 60px;
    --font-medium: 44px;
    --font-regular: 24px;


    --line-height-large: 64px;
    --line-height-medium: 48px;
    --line-height-regular: 28px;
    

}


/* COMMON */

.wrap{
    font-family: 'Open Sans',sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: #000;
}

.clearfix::after{
    display: block;
    clear: both;
    content: '';

}

.blind{
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
    position: absolute;
    overflow: hidden;
}

.inner{
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 20px 50px;
}

.section-title{
    font-size: var(--font-large);
    line-height: var(--line-height-large);
    color: var(--color-black);
}

.section-desc{
    display: -webkit-box;
    overflow: hidden;
    max-height: 84px;
    font-size: var(--font-regular);
    line-height: var(--line-height-regular);
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
    color: var(--color-black);
    margin-top: 15px;
}

.section-sub-title{
    display: block;
    font-size: var(--font-medium);
    line-height: var(--line-height-medium);
    color: var(--color-black);
    margin-top: 20px;
}


/* NAV */
.myheader{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: transparent;
    z-index: 10;
    transition: all 300ms ease-in-out;
}

.myheader.myheader--dark{
    background-color: #3dbab2;

}

.mynav {
    height: 70px;
    font-size: 22px;
    line-height: 26px;
    position: relative;
}

.mynav.mynav--short{
    height: 50px;
}

.mynav .toggle{
    position: absolute;
    top: 50%;
    right: 30px;
    color: var(--color-white);
    font-size: var(--font-medium);
    transform: translateY(-50%);
    display: none;
}

.mynav.inner{
    padding: 0 20px;
}


.mynav .logo{
    float: left;
    display: flex;    
    align-items: center;
    height: 100%;
    color: var(--color-white);
}

.logo__img{
    width: 70px;
    height: 70px;
}


.menu_wrap{
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
}

.mynav .menu{
    display: flex;
}

.menu .menu__item{
    margin-right: 20px;
    
}

.now{
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10%;

}

.menu .menu__item:last-child{
    margin-right: 0px;
}

.menu__link{
    color: var(--color-white);
    padding: 4px;
}

.menu__link:hover{
    background-color: darkseagreen;
    border-radius: 10%;
    
}

/* INTRODUCTION */

#introduction{
    background: url(./image/bg.png) center/cover no-repeat;
    background-color: #3dbab2;
}

.opacity{
    opacity: 1;
}

.introduction__img-wrap{
    display: inline-block;
    border: 10px solid #fff;
    border-radius: 50%;   
    overflow: hidden; 
}

.introduction__img-wrap img{
    width: 400px;    
    margin-bottom: -4px;
    border-radius: 50%;
}

#introduction .section-title{
    color: var(--color-white);
    margin-top: 20px;
}

#introduction .section-sub-title{
    color: var(--color-white)
}

.introduction__btn{
    margin-top: 20px;
    background: transparent;
    color: #fff;
    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 19px;
    line-height: 22px;
    cursor: pointer;
    outline: none;
}

/* ABOUT ME */

.fields{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.fields__item{
    max-width: 300px;
    text-align: center;
}

.fields__img-wrap{
    width: 200px;
    height: 200px;
    border: 4px solid #3dbab2;;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;

}

.fields__img-wrap img{
    position: absolute;
    width: 150px;
    border-radius: 50%;
    left: 25px;top: 25px;
}

.fields__title{
    display: inline-block;
    margin-top: 15px;
    font-size: 34px;
    line-height: 38px;
}

.fields__desc{
    margin-top: 15px;
    font-size: 21px;
    line-height: 25px;
    overflow: hidden;
    color: #636e72;

    /* 여러줄 말줄임 처리 */
    display: -webkit-box;
    overflow: hidden;
    max-height: 50px;
    font-size: 21px;
    line-height: 25px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
}


/* SKILLS */

#skills{
    background-color: beige;
}

.skills__block{
    width: 100%;
    height: 500px;
    margin-top: 30px;
    display: flex;
}

.skills__box{
    flex-basis: 60%;
    background-color: darkgray;
    padding: 20px 30px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.skills__block .title{
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    display: block;
}

.list__item .info{
    color: #fff;
}

.list__item .item__name{
    float: left;
}

.list__item .percentage{
    float: right;
}

.skills__list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.skills__list .item__level{
    display: flex;
    height: 5px;
    margin-top: 5px;
}

.list__item .item__level{
    background-color: #000;
}

.guage--colored{
    background-color: yellowgreen;
}

.skills__info{
    flex-basis: 40%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.skills__tool{
    flex-basis: 70%;
    background-color: gray;
    padding: 20px 30px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
}

.info__list li{
    margin-top: 10px;
}

.skills__etc{
    flex-basis: 30%;
    padding: 20px 30px;
    color: #fff;
}


/* My Work */

#works .projects{
    display: flex;
    margin: 20px auto 0;
    width: 80%;
    justify-content: center;
}

#works .projects__item{
    flex: 1 1 0;
}

.projects__btn{
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 24px;
    line-height: 28px;
    background-color: #fff;
    width: 100%;
}

.projects__count{
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    border: 1px solid orange;
    background-color: orange;
    color: var(--color-white);
    position: relative;
    top: -30px;
    opacity: 0;
    transition: all 300ms ease-in;
}

.projects__all:hover .projects__count{
    opacity: 1;
    top: 0;
}


.projects__btn:active{
    color: lightslategray;
}

#works .examples{
    width: 100%;
    margin: 40px auto 0;
    table-layout: fixed;
    border-spacing: 4px;
    border-collapse: separate;
}

.examples td{
    border: 1px solid lightgray;
    background-color: lightgray;
}

.examples td .img-wrap{
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
}

.examples td img{
    display: block;
    width: 200px;
    height: 280px;
    margin: 10px auto;
}

.examples__desc{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 300ms ease-in;
    transform: translateY(30px);
    opacity: 0;
}

.examples td:hover .examples__desc{
    opacity: 1;
    transform: translateY(0);
}


.examples__title{
    margin-bottom: 20px;
}

.examples__title::after{
    content: '';
    display: block;
    height: 2px;
    width: 60px;
    background-color: var(--color-white);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
}


/* Testimonial */
#testimonials{
    background-color: lightgray;
}

.testimonials-wrap {
    display: flex;
    margin-top: 30px;
}

.testimonials-wrap .img-wrap img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.testimonials__content-wrap{
    background-color: seashell;
    padding: 20px 30px;
    margin-left: 10px;
    border: 1px solid seashell;
    border-radius: 10px;
}


.testimonials__content{
    display: -webkit-box;
    overflow: hidden;
    max-height: 72px;
    font-size: 21px;
    line-height: 25px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
}

.testimonials__who{
    display: inline-block;
    margin-top: 20px;
    font-size: 24px;
    line-height: 28px;
}

.testimonials__who span{
    color: coral;
}

/* contact */

#contact{
    background-color: lightpink;
    position: relative;
}


/* ARROW UP BTN */
.arrow__up{
    position: fixed;
    bottom: 100px;
    right: 50px;
    font-size: 36px;
    border-radius: 50%;
    color: var(--color-white);
    padding: 20px 30px;
    background-color: lightpink;
    cursor: pointer;
    display: none;
    border: none;
    pointer-events: none;
}

.arrow__up.visible{
    display: block;
    pointer-events: auto;
}

@media screen and (max-width: 768px){


    /* HEADER */
    .mynav .menu_wrap {
        width: 100vw;
        float: none;
        position: absolute;
        top: 70px;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        background-color: #3dbab2 ;

    }

    .mynav .menu{
        margin: 0 auto;
    }

    .mynav .menu .menu__item{
        margin-right: 0;
        margin-top: 20px;
    }

    .mynav .menu__item:last-child{
        margin-bottom: 20px;
    }

    .mynav .menu{
        flex-direction: column;
    }

    .mynav .toggle{
        display: block;
    }


    /* ABOUT */

    .fields{
        flex-direction: column;
        align-items: center;
    }

    .fields__item{
        margin-bottom: 20px;
    }


    /* SKILLS */

    .skills__block{
        flex-direction: column;
    }
}